[Desktop Entry]
Display=true
Type=Application
Exec=/home/ivizzo/scripts/config/touchpad_toggle.sh true
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name[en_US]=Disable Touchpad
Name=Disable Touchpad
Comment[en_US]=Disable touchpad on laptopts
Comment=Disable touchpad on laptopts
