---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*'
WarningsAsErrors: 'cppcoreguidelines-no-malloc'
HeaderFilterRegex: ''
FormatStyle:     none


