---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg'
WarningsAsErrors: 'cppcoreguidelines-no-malloc'
HeaderFilterRegex: ''
FormatStyle:     none


