[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:nachovizzo/oh-my-zsh.git
[submodule ".tmux/plugins"]
	path = .tmux/plugins
	url = git@github.com:nachovizzo/tmux-plugins.git
[submodule "3rdparty/diff-so-fancy"]
	path = 3rdparty/diff-so-fancy
	url = git@github.com:so-fancy/diff-so-fancy.git
