[user]
    email = ignaciovizzo@gmail.com
    name = Ignacio Vizzo
[core]
    excludesfile = /home/ivizzo/.gitignore_global
    editor = vim

# Add some git common alias
[url "git@github.com:"]
    insteadOf = github:

[url "git@gitlab.ipb.uni-bonn.de:"]
    insteadOf = gitlab:
[pager]
    branch = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[push]
    default = simple

[diff]
    tool = meld
[difftool "meld"]
    cmd = "GTK_THEME=Adwaita:light meld $LOCAL $REMOTE"
[difftool]
    prompt = false
