[user]
    email = ignaciovizzo@gmail.com
    name = Ignacio Vizzo
[core]
    excludesfile = /home/ivizzo/.gitignore_global
    editor = vim
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[push]
    default = simple
[diff]
    tool = meld
[difftool "meld"]
    cmd = "GTK_THEME=Adwaita:light meld $LOCAL $REMOTE"
[difftool]
    prompt = false
[color]
  ui = always
[pager]
    branch = false
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[color "diff-highlight"]
  oldNormal = red
  oldHighlight = red bold 52
  newNormal = green
  newHighlight = green bold 22
