.bzr.log
.Hotstop
.ICEauthority
.VSCodeVim/
.Xauthority
.android/
.apport-ignore.xml
.aptitude/
.audacity-data/
.aws/
.bash_history
.bash_logout
.bashrc
.cache/
.ccache/
.cmake/
.compiz/
.config/
.dbus/
.dia/
.dmrc
.docker/
.dropbox-dist/
.dropbox/
.eclipse/
.enthought/
.gazebo/
.gconf/
.gdb_history
.gdbinit_bak
.git-got-cache/
.gitconfig
.github_token
.gitkraken/
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gps_backup/
.gtk-recordmydesktop
.gworldclock
.hplip/
.iep/
.install4j
.install4j_jre
.ipython/
.java/
.kde/
.keras/
.lesshst
.local/
.macromedia/
.minirc.dfl
.mozilla/
.mume/
.mysql_history
.node_repl_history
.npm/
.octave_hist
.octaverc
.openshot/
.oracle_jre_usage/
.pki/
.profile
.pylint.d/
.python-history
.python_history
.pyxbld/
.repo_.gitconfig.json
.repoconfig/
.rnd
.ros/
.rviz/
.sdformat/
.ssh/
.subversion/
.sudo_as_admin_successful
.swt/
.temp/
.texmf-var/
.thunderbird/
.tzlist
.vim/
.vim_mru_files
.viminfo
.virtualenvs/
.vscode-insiders/
.vscode/
.wget-hsts
.xbindkeysrc
.xinputrc
.xournal/
.xsession-errors*
.zcompdump*
.zsh_history
Desktop/
Documents/
Downloads/
Dropbox/
Music/
Pictures/
bin/
dev/
snap/
Teaching/
texmf/
