[Desktop Entry]
Type=Application
Exec=/home/ivizzo/scripts/config/keyboard_settings.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name[en_US]=Custom Keyboard Settings
Name=Custom Keyboard Settings
Comment[en_US]=Set CapsLock to Escape and mater i3
Comment=Set CapsLock to Escape and mater i3
